[submodule "wakanda-stripe"]
	path = wakanda-stripe
	url = https://github.com/anvivia/wakanda-stripe.git
[submodule "wakanda-querystring"]
	path = wakanda-querystring
	url = https://github.com/anvivia/wakanda-querystring
[submodule "wakanda-twilio"]
	path = wakanda-twilio
	url = https://github.com/AMorgaut/wakanda-twilio
[submodule "w3c-domcore-errors"]
	path = w3c-domcore-errors
	url = https://github.com/AMorgaut/w3c-domcore-errors
[submodule "w3c-windowbase64"]
	path = w3c-windowbase64
	url = https://github.com/AMorgaut/w3c-windowbase64
[submodule "mustache.js"]
	path = mustache.js
	url = git://github.com/janl/mustache.js
