[submodule "wakanda-stripe"]
	path = wakanda-stripe
	url = https://github.com/anvivia/wakanda-stripe.git
[submodule "wakanda-querystring"]
	path = wakanda-querystring
	url = https://github.com/anvivia/wakanda-querystring
[submodule "wakanda-twilio"]
	path = wakanda-twilio
	url = https://github.com/AMorgaut/wakanda-twilio
[submodule "w3c-domcore-errors"]
	path = w3c-domcore-errors
	url = https://github.com/AMorgaut/w3c-domcore-errors
[submodule "w3c-windowbase64"]
	path = w3c-windowbase64
	url = https://github.com/AMorgaut/w3c-windowbase64
[submodule "mustache.js"]
	path = mustache.js
	url = git://github.com/janl/mustache.js
[submodule "wakanda-eventsource"]
	path = wakanda-eventsource
	url = https://github.com/AMorgaut/wakanda-eventsource
[submodule "w3c-domevents"]
	path = w3c-domevents
	url = https://github.com/AMorgaut/w3c-domevents
[submodule "wak-paypal"]
	path = wak-paypal
	url = https://github.com/hredwan/wak-paypal
[submodule "wakanda-googleOAuth2-client"]
	path = wakanda-googleOAuth2-client
	url = https://github.com/lyle/wakanda-googleOAuth2-client
[submodule "mimeTypes"]
	path = mimeTypes
	url = git://github.com/jeffgrann/mimeTypes.git
[submodule "http"]
	path = http
	url = git://github.com/jeffgrann/http.git
[submodule "httpRequests"]
	path = httpRequests
	url = git://github.com/jeffgrann/httpRequests.git
[submodule "rackspaceCloudFiles"]
	path = rackspaceCloudFiles
	url = git://github.com/jeffgrann/rackspaceCloudFiles.git
[submodule "html"]
	path = html
	url = git://github.com/jeffgrann/html.git
[submodule "shellWorker"]
	path = shellWorker
	url = https://github.com/Wakanda/shellWorker.git
